In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import scipy.stats as stats
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

import os
import glob
import sys

In [2]:
from utils import set_basepath

In [3]:
sys.path[0]

'/Users/jacobhow/Documents/programming-projects/nfl-big-data/notebooks/feature'

In [4]:
basepath = set_basepath(steps=2)

In [5]:
sys.path[0]

'/Users/jacobhow/Documents/programming-projects/nfl-big-data'

In [6]:
from src.team import Team
from src.game import Game
from src.play import Play
from src.player import Player
from src.analysis import Analysis, sort_plays_by_result

In [7]:
analysis = Analysis(basepath=basepath)

In [8]:
analysis.load_data()

In [9]:
analysis.load_weeks()

In [10]:
analysis.weeks.keys()

dict_keys(['week1', 'week2', 'week3', 'week4', 'week5', 'week6', 'week7', 'week8', 'week9', 'week10', 'week11', 'week12', 'week13', 'week14', 'week15', 'week16', 'week17'])

In [11]:
analysis.process_games()

In [12]:
analysis.process_teams()

PHI - week1

/Users/jacobhow/Documents/programming-projects/nfl-big-data/src/play.py:261: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.player_tracking['distance from line'] = self.player_tracking['x'] - self.line_of_scrimmage
/Users/jacobhow/Documents/programming-projects/nfl-big-data/src/play.py:262: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.player_tracking['distance to sideline'] = [min((160/3) - y,y) for y in self.player_tracking['y'].values]
/Users/jacobhow/Documents/programming-projects/nfl-big-data/src/play.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.player_tracking['distance from center'] = self.player_tracking['y'] - self.play_center

PHI - week2
PHI - week3
PHI - week4
PHI - week5
PHI - week6
PHI - week7
PHI - week8
PHI - week9
PHI - week10
PHI - week11
PHI - week12
PHI - week13
PHI - week14
PHI - week15
PHI - week16
PHI - week17
CLE - week1
CLE - week2
CLE - week3
CLE - week4
CLE - week5
CLE - week6
CLE - week7
CLE - week8
CLE - week9
CLE - week10
CLE - week11
CLE - week12
CLE - week13
CLE - week14
CLE - week15
CLE - week16
CLE - week17
IND - week1
IND - week2
IND - week3
IND - week4
IND - week5
IND - week6
IND - week7
IND - week8
IND - week9
IND - week10
IND - week11
IND - week12
IND - week13
IND - week14
IND - week15
IND - week16
IND - week17
Play Error
Game ID: 2018121605 - Play ID: 1770
(2:34) (Shotgun) D.Prescott pass incomplete deep left to N.Brown. IND-Q.Wilson was injured during the play.
Play Error
Game ID: 2018121605 - Play ID: 2544
(11:23) D.Prescott pass short right to N.Brown to DAL 39 for 14 yards (M.Adams, A.Walker).
MIA - week1
MIA - week2
MIA - week3
MIA - week4
MIA - week5
MIA - week6
MIA - week7
MIA - week8
MIA - week9
MIA - week10
MIA - week11
MIA - week12
MIA - week13
MIA - week14
MIA - week15
MIA - week16
MIA - week17
BAL - week1
BAL - week2
BAL - week3
BAL - week4
BAL - week5
BAL - week6
BAL - week7
BAL - week8
BAL - week9
BAL - week10
BAL - week11
BAL - week12
BAL - week13
BAL - week14
BAL - week15
BAL - week16
BAL - week17
Play Error
Game ID: 2018092301 - Play ID: 2225
(:37) (Shotgun) C.Keenum pass incomplete short left to C.Sutton.
Play Error
Game ID: 2018092301 - Play ID: 3945
(6:16) (Shotgun) C.Keenum pass incomplete short left to D.Booker.
Play Error
Game ID: 2018092301 - Play ID: 4021
(5:23) (Shotgun) C.Keenum pass short right to D.Booker to BLT 35 for 5 yards (C.Clark).
Play Error
Game ID: 2018092301 - Play ID: 4045
(4:57) (No Huddle, Shotgun) C.Keenum pass short right to J.Butt ran ob at BLT 30 for 5 yards.
NE - week1
NE - week2
NE - week3
NE - week4
NE - week5
NE - week6
NE - week7
NE - week8
NE - week9
NE - week10
NE - week11
NE - week12
NE - week13
NE - week14
NE - week15
NE - week16
NE - week17
Play Error
Game ID: 2018123006 - Play ID: 2852
(:37) (Shotgun) S.Darnold pass incomplete deep left to R.Anderson.
Play Error
Game ID: 2018123006 - Play ID: 2874
(:32) (Shotgun) S.Darnold pass deep right to D.Burnett pushed ob at NYJ 36 for 25 yards (K.Crossen).
Play Error
Game ID: 2018123006 - Play ID: 3186
(9:35) S.Darnold pass incomplete short right to R.Anderson (J.Jackson).
Play Error
Game ID: 2018123006 - Play ID: 3236
(8:50) (Shotgun) S.Darnold pass incomplete short right to J.Leggett.
NYG - week1
NYG - week2
NYG - week3
NYG - week4
NYG - week5
NYG - week6
NYG - week7
NYG - week8
NYG - week9
NYG - week10
NYG - week11
NYG - week12
NYG - week13
NYG - week14
NYG - week15
NYG - week16
NYG - week17
NO - week1
NO - week2
NO - week3
NO - week4
NO - week5
NO - week6
NO - week7
NO - week8
NO - week9
NO - week10
NO - week11
NO - week12
NO - week13
NO - week14
NO - week15
NO - week16
NO - week17
ARI - week1
ARI - week2
ARI - week3
ARI - week4
ARI - week5
ARI - week6
ARI - week7
ARI - week8
ARI - week9
ARI - week10
ARI - week11
ARI - week12
ARI - week13
ARI - week14
ARI - week15
ARI - week16
ARI - week17
Error! Patrick Peterson has has more than one coverage type!
CAR - week1
CAR - week2
CAR - week3
CAR - week4
CAR - week5
CAR - week6
CAR - week7
CAR - week8
CAR - week9
CAR - week10
CAR - week11
CAR - week12
CAR - week13
CAR - week14
CAR - week15
CAR - week16
CAR - week17
GB - week1
GB - week2
GB - week3
GB - week4
GB - week5
GB - week6
GB - week7
GB - week8
GB - week9
GB - week10
GB - week11
GB - week12
GB - week13
GB - week14
GB - week15
GB - week16
GB - week17
DET - week1
DET - week2
DET - week3
DET - week4
DET - week5
DET - week6
DET - week7
DET - week8
DET - week9
DET - week10
DET - week11
DET - week12
DET - week13
DET - week14
DET - week15
DET - week16
DET - week17
OAK - week1
OAK - week2
OAK - week3
OAK - week4
OAK - week5
OAK - week6
OAK - week7
OAK - week8
OAK - week9
OAK - week10
OAK - week11
OAK - week12
OAK - week13
OAK - week14
OAK - week15
OAK - week16
OAK - week17
CIN - week1
CIN - week2
CIN - week3
CIN - week4
CIN - week5
CIN - week6
CIN - week7
CIN - week8
CIN - week9
CIN - week10
CIN - week11
CIN - week12
CIN - week13
CIN - week14
CIN - week15
CIN - week16
CIN - week17
NYJ - week1
NYJ - week2
NYJ - week3
NYJ - week4
NYJ - week5
NYJ - week6
NYJ - week7
NYJ - week8
NYJ - week9
NYJ - week10
NYJ - week11
NYJ - week12
NYJ - week13
NYJ - week14
NYJ - week15
NYJ - week16
NYJ - week17
BUF - week1
BUF - week2
BUF - week3
BUF - week4
BUF - week5
BUF - week6
BUF - week7
BUF - week8
BUF - week9
BUF - week10
BUF - week11
BUF - week12
BUF - week13
BUF - week14
BUF - week15
BUF - week16
BUF - week17
ATL - week1
ATL - week2
ATL - week3
ATL - week4
ATL - week5
ATL - week6
ATL - week7
ATL - week8
ATL - week9
ATL - week10
ATL - week11
ATL - week12
ATL - week13
ATL - week14
ATL - week15
ATL - week16
ATL - week17
PIT - week1
PIT - week2
PIT - week3
PIT - week4
PIT - week5
PIT - week6
PIT - week7
PIT - week8
PIT - week9
PIT - week10
PIT - week11
PIT - week12
PIT - week13
PIT - week14
PIT - week15
PIT - week16
PIT - week17
WAS - week1
WAS - week2
WAS - week3
WAS - week4
WAS - week5
WAS - week6
WAS - week7
WAS - week8
WAS - week9
WAS - week10
WAS - week11
WAS - week12
WAS - week13
WAS - week14
WAS - week15
WAS - week16
WAS - week17
TEN - week1
TEN - week2
TEN - week3
TEN - week4
TEN - week5
TEN - week6
TEN - week7
TEN - week8
TEN - week9
TEN - week10
TEN - week11
TEN - week12
TEN - week13
TEN - week14
TEN - week15
TEN - week16
TEN - week17
TB - week1
TB - week2
TB - week3
TB - week4
TB - week5
TB - week6
TB - week7
TB - week8
TB - week9
TB - week10
TB - week11
TB - week12
TB - week13
TB - week14
TB - week15
TB - week16
TB - week17
SF - week1
SF - week2
SF - week3
SF - week4
SF - week5
SF - week6
SF - week7
SF - week8
SF - week9
SF - week10
SF - week11
SF - week12
SF - week13
SF - week14
SF - week15
SF - week16
SF - week17
LA - week1
LA - week2
LA - week3
LA - week4
LA - week5
LA - week6
LA - week7
LA - week8
LA - week9
LA - week10
LA - week11
LA - week12
LA - week13
LA - week14
LA - week15
LA - week16
LA - week17
DEN - week1
DEN - week2
DEN - week3
DEN - week4
DEN - week5
DEN - week6
DEN - week7
DEN - week8
DEN - week9
DEN - week10
DEN - week11
DEN - week12
DEN - week13
DEN - week14
DEN - week15
DEN - week16
DEN - week17
JAX - week1
JAX - week2
JAX - week3
JAX - week4
JAX - week5
JAX - week6
JAX - week7
JAX - week8
JAX - week9
JAX - week10
JAX - week11
JAX - week12
JAX - week13
JAX - week14
JAX - week15
JAX - week16
JAX - week17
DAL - week1
DAL - week2
DAL - week3
DAL - week4
DAL - week5
DAL - week6
DAL - week7
DAL - week8
DAL - week9
DAL - week10
DAL - week11
DAL - week12
DAL - week13
DAL - week14
DAL - week15
DAL - week16
DAL - week17
CHI - week1
CHI - week2
CHI - week3
CHI - week4
CHI - week5
CHI - week6
CHI - week7
CHI - week8
CHI - week9
CHI - week10
CHI - week11
CHI - week12
CHI - week13
CHI - week14
CHI - week15
CHI - week16
CHI - week17
HOU - week1
HOU - week2
HOU - week3
HOU - week4
HOU - week5
HOU - week6
HOU - week7
HOU - week8
HOU - week9
HOU - week10
HOU - week11
HOU - week12
HOU - week13
HOU - week14
HOU - week15
HOU - week16
HOU - week17
Error! Whitney Mercilus has has more than one coverage type!
KC - week1
KC - week2
KC - week3
KC - week4
KC - week5
KC - week6
KC - week7
KC - week8
KC - week9
KC - week10
KC - week11
KC - week12
KC - week13
KC - week14
KC - week15
KC - week16
KC - week17
MIN - week1
MIN - week2
MIN - week3
MIN - week4
MIN - week5
MIN - week6
MIN - week7
MIN - week8
MIN - week9
MIN - week10
MIN - week11
MIN - week12
MIN - week13
MIN - week14
MIN - week15
MIN - week16
MIN - week17
SEA - week1
SEA - week2
SEA - week3
SEA - week4
SEA - week5
SEA - week6
SEA - week7
SEA - week8
SEA - week9
SEA - week10
SEA - week11
SEA - week12
SEA - week13
SEA - week14
SEA - week15
SEA - week16
SEA - week17
LAC - week1
LAC - week2
LAC - week3
LAC - week4
LAC - week5
LAC - week6
LAC - week7
LAC - week8
LAC - week9
LAC - week10
LAC - week11
LAC - week12
LAC - week13
LAC - week14
LAC - week15
LAC - week16
LAC - week17

In [13]:
off_production = pd.read_csv(os.path.join(basepath,'offensive production.csv'),index_col=0)

In [14]:
plays = analysis.return_plays(target_coverage='man')

(2:34) (Shotgun) D.Prescott pass incomplete deep left to N.Brown. IND-Q.Wilson was injured during the play.
(11:23) D.Prescott pass short right to N.Brown to DAL 39 for 14 yards (M.Adams, A.Walker).
(:37) (Shotgun) C.Keenum pass incomplete short left to C.Sutton.
(6:16) (Shotgun) C.Keenum pass incomplete short left to D.Booker.
(5:23) (Shotgun) C.Keenum pass short right to D.Booker to BLT 35 for 5 yards (C.Clark).
(4:57) (No Huddle, Shotgun) C.Keenum pass short right to J.Butt ran ob at BLT 30 for 5 yards.
(:37) (Shotgun) S.Darnold pass incomplete deep left to R.Anderson.
(:32) (Shotgun) S.Darnold pass deep right to D.Burnett pushed ob at NYJ 36 for 25 yards (K.Crossen).
(9:35) S.Darnold pass incomplete short right to R.Anderson (J.Jackson).
(8:50) (Shotgun) S.Darnold pass incomplete short right to J.Leggett.

In [15]:
len(plays)

4378

In [16]:
sorted_plays = sort_plays_by_result(plays)

In [17]:
len(sorted_plays['completed'])

2492

In [18]:
len(sorted_plays['incompleted'])

1791

In [19]:
len(sorted_plays['intercepted'])

94

In [20]:
len(sorted_plays['other'])

1

In [21]:
results = []
for play in plays:
    db = play.man_responsible_dbacks[0]
    rc = play.target
    rc_production = off_production.loc[rc.nflId]
    epa_delta = play.epa - rc_production['epa/target']
    
    res = [db.nflId, db.name, rc.nflId, rc.name, play.epa, rc_production['epa/target'], epa_delta]
    
    results.append(res)

In [22]:
columns = ['db nflId', 'db name','rc nflId', 'rc name', 'play epa', 'expected epa', 'epa delta']

In [23]:
results = pd.DataFrame(results, columns=columns)

In [24]:
results

,db nflId,db name,rc nflId,rc name,play epa,expected epa,epa delta
0,2552689,Ronald Darby,2495454,Julio Jones,-0.551513,0.402,-0.953513
1,2557958,Sidney Jones,2533040,Mohamed Sanu,-0.432498,0.440,-0.872498
2,2552689,Ronald Darby,2495454,Julio Jones,0.808959,0.402,0.406959
3,2555383,Jalen Mills,2495454,Julio Jones,1.160936,0.402,0.758936
4,2555383,Jalen Mills,2495454,Julio Jones,-0.896250,0.402,-1.298250
...,...,...,...,...,...,...,...
4373,2559164,Michael Davis,2558985,Tim Patrick,-0.466679,0.247,-0.713679
4374,2532861,Casey Hayward,2560888,Courtland Sutton,1.483256,0.162,1.321256
4375,2559164,Michael Davis,2560733,Royce Freeman,0.770422,-0.189,0.959422
4376,2559164,Michael Davis,2561002,DaeSean Hamilton,1.791403,0.064,1.727403
4377,2559164,Michael Davis,2558985,Tim Patrick,-1.217191,0.247,-1.464191

In [25]:
results.sort_values('play epa')

,db nflId,db name,rc nflId,rc name,play epa,expected epa,epa delta
808,71251,Patrick Chung,2495139,Charles Clay,-9.994132,-0.498,-9.496132
1833,2558982,Hardy Nickerson,2540232,Jack Doyle,-9.325884,-0.125,-9.200884
4002,2550257,Daniel Sorensen,71265,Jared Cook,-9.144098,0.227,-9.371098
4305,2559164,Michael Davis,2558856,David Moore,-8.794337,0.254,-9.048337
3891,2552265,Steven Nelson,2495450,A.J. Green,-7.989500,0.393,-8.382500
...,...,...,...,...,...,...,...
4274,2552296,Kyle Emanuel,2558266,George Kittle,7.073669,0.440,6.633669
373,2559087,Arthur Maulet,2543614,Donte Moncrief,7.775187,0.050,7.725187
2642,2558136,Fabian Moreau,2552487,Amari Cooper,7.953610,0.279,7.674610
3254,2543505,Bradley Roby,2558149,JuJu Smith-Schuster,8.207265,0.332,7.875265
1813,2541200,Rashaan Melvin,2555478,Demarcus Robinson,8.629316,0.338,8.291316

In [26]:
len(results['db nflId'].unique())

391

In [27]:
totals = []

for _id in results['db nflId'].unique():
    db_df = results[results['db nflId'] == _id]
    db_name = db_df['db name'].values[0]
    
    nPlays = db_df.shape[0]
    
    db_epa_total = db_df['epa delta'].sum()
    db_epa_mean = db_df['epa delta'].mean()
        
    totals.append([_id,db_name, nPlays, db_epa_total, db_epa_mean])

In [28]:
totals = pd.DataFrame(totals,columns=['id','name','man coverage count','total epa','mean epa'])

In [29]:
totals

          id              name  man coverage count  total epa  mean epa
0    2552689      Ronald Darby                  30  -4.091334 -0.136378
1    2557958      Sidney Jones                  11  -2.677141 -0.243376
2    2555383       Jalen Mills                  19  -5.499084 -0.289425
3    2532800     Nigel Bradham                   4   0.495017  0.123754
4      79848   Malcolm Jenkins                  13   5.943880  0.457222
..       ...               ...                 ...        ...       ...
386  2556148     Jatavis Brown                   1   1.275369  1.275369
387  2550842   Adrian Phillips                   1  -1.451159 -1.451159
388  2559164     Michael Davis                  36 -20.647828 -0.573551
389  2560826     Uchenna Nwosu                   1   0.120131  0.120131
390  2558182  Rayshawn Jenkins                   2   1.406673  0.703337

[391 rows x 5 columns]

In [30]:
totals.sort_values('total epa').head(20)

          id                 name  man coverage count  total epa  mean epa
71   2533062      Stephon Gilmore                  51 -24.995266 -0.490103
192  2557867    Tre'Davious White                  38 -22.726097 -0.598055
56   2558067      Marlon Humphrey                  37 -22.353836 -0.604158
388  2559164        Michael Davis                  36 -20.647828 -0.573551
73     89756       Jason McCourty                  49 -16.891238 -0.344719
45   2555539        Xavien Howard                  26 -16.500493 -0.634634
360  2555177  Mackensie Alexander                  25 -13.469955 -0.538798
307  2541162           A.J. Bouye                  35 -12.878965 -0.367970
329   494289     Sherrick McManis                  10 -12.780084 -1.278008
117  2555175      James Bradberry                  33 -12.323266 -0.373432
167  2556367      William Jackson                  46 -12.192049 -0.265045
16   2560916          Denzel Ward                  36 -11.561528 -0.321154
179  2533059     Morris Claiborne                  45 -11.237093 -0.249713
44   2552434         Bobby McCain                  26 -11.041090 -0.424657
325  2553500       Bryce Callahan                  23 -10.727742 -0.466424
315  2557840       Chidobe Awuzie                  48 -10.142847 -0.211309
114    80668    Captain Munnerlyn                  25  -9.573008 -0.382920
65   2508107          Jimmy Smith                  27  -9.133891 -0.338292
214  2556559          Mike Hilton                  20  -8.996139 -0.449807
89   2535687       Michael Thomas                   8  -8.988557 -1.123570

In [31]:
totals.sort_values('total epa').tail(10)

          id               name  man coverage count  total epa  mean epa
116  2560753      Donte Jackson                  20  10.468177  0.523409
147  2535609      DeShawn Shead                   9  11.376269  1.264030
47   2559053       Torry McTyer                  15  13.062001  0.870800
107  2495504   Patrick Peterson                  18  13.718148  0.762119
146  2557955         Teez Tabor                  16  16.338200  1.021138
326  2495108   Prince Amukamara                  59  16.366177  0.277393
94   2558061  Marshon Lattimore                  38  16.389769  0.431310
382  2556828    Trevor Williams                  20  20.262321  1.013116
295  2543505       Bradley Roby                  33  23.131955  0.700968
201  2539653      Robert Alford                  56  28.022845  0.500408